// span {
//   color: red;
// }

.likesAndCommentsCount {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  color: #808080;

  .likeCount {
    margin: 0 10px;
  }

  .commentCount {
    float: right;
    margin-right: 10px;
  }
}
