{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
  <div class="container center flow-text" style="margin-top:20px;">
      <div>
        <img
        class="responsive-img circle"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpYHz0hbmkgfvd6XKbIUJlpMS5hNSCp5avLRAEa8cNAyBpJ0_V&usqp=CAU" alt="defaul_profile_pic"
        style="height:200px;width:200px;"
        >
      </div>

      {{user.first_name|title}} {{user.last_name|title}} <br>
      <a href="" style="font-size:20px;">edit bio</a>
  </div>
<h4 class="flow-text center">Posts by {{user.first_name|title}} {{user.last_name|title}}</h4>
<!-- Posts by the user -->
<div style="margin:auto;width:70%;">
<ul class="collection">
{% for post in allPosts %}
   <li class="collection-item avatar">
     <i class="material-icons circle red">play_arrow</i>
     <span class="title" style="color:grey;font-size:medium;"><b>Author {{post.user_username}}</b></span><br>
     <span class="title"><b>{{post.title}}</b></span>
     <p>{{post.content}}</p>
     {% if post.user_id == session.user_id %}
     <a href="http://localhost/posts/editPost/{{post.id}}" class="secondary-content" style="margin-right:30px;"><i class="material-icons">edit</i></a>
     <a class="secondary-content modal-trigger red-text" href="#modal1"><i class="material-icons">delete</i></a>
     <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
     <!-- Modal to Delete -->
       <!-- Modal Trigger -->

       <!-- Modal Structure -->
       <div id="modal1" class="modal">
         <div class="modal-content" style="text-align:center;">
           <h4>Are you sure you want to delete this post?</h4>
           <span class="title" style="color:grey;font-size:medium;"><b>Author {{post.user_username}}</b></span><br>
           <span class="title"><b>{{post.title}}</b></span>
           <p>{{post.content}}</p>
           <div class="modal-footer" style="text-align:center;">
             <a href="http://localhost/posts/deletePost/{{post.id}}" class="modal-close waves-effect waves-green btn-flat red-text" style="font-weight:bold;">Yes</a>
             <a href="#" class="modal-close waves-effect waves-green btn-flat">No</a>
           </div>
           <!-- <p>A bunch of text</p> -->
         </div>
       </div>
     <!-- end modal to delete -->

     {% endif %}
   </li>
   <!-- likes and comments count div -->
     <div class="likesAndCommentsCount">
       <span class="likeCount likeCount__{{post.id}}">Likes ({{post.likeCount}})</span>
     </div>
   <!-- end of likes and comments count div -->
   <!-- lcdiv -->
 <div class="lcdiv">
   {% if post.didCurrentUserLikeThePost == 1 %}
   <div class="{{post.id}} likeButton active ">
     <i class="{{post.id}} likeIcon fas fa-heart active "> Like</i>
     </div>
   {% else %}

 <div class="{{post.id}} likeButton ">
     <i class="{{post.id}} likeIcon fas fa-heart "> Like</i>
   </div>
   {% endif %}
     <div class="commentButton">
       Comment
     </div>
   </div>
   <!-- end of lcdiv -->
{% endfor %}
</ul>
</div>

<!-- end of posts by the user -->

{% endblock %}
