{% extends 'base.html' %}
{% block title %}All Posts {% endblock %}
{% block content %}
<div class="allPosts">
<ul class="collection">
{% for post in allPosts %}
  <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title" style="color:grey;font-size:medium;"><b>Author <a href="http://localhost/profiles/userProfile/{{post.user_id}}">{{post.user_username}}</a></b></span><br>
      <span class="title"><b>{{post.title}}</b></span>
      <p>{{post.content}}</p>
      {% if post.user_id == session.user_id %}
      <a href="http://localhost/posts/editPost/{{post.id}}" class="secondary-content" style="margin-right: 20px;"><i class="material-icons">edit</i></a>
      <a class="secondary-content modal-trigger red-text" href="#modal1"><i class="material-icons">delete</i></a>
      <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
      <!-- Modal to Delete -->
        <!-- Modal Trigger -->

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content" >
            <h4>Are you sure you want to delete this post?</h4>
            <span class="title" style="color:grey;font-size:medium;"><b>Author {{post.user_username}}</b></span><br>
            <span class="title"><b>{{post.title}}</b></span>
            <p>{{post.content}}</p>
            <div class="modal-footer">
              <a href="http://localhost/posts/deletePost/{{post.id}}" class="modal-close waves-effect waves-green btn-flat red-text" style="font-weight:bold;">Yes</a>
              <a href="#" class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
            <!-- <p>A bunch of text</p> -->
          </div>

        </div>
      <!-- end modal to delete -->

      {% endif %}
    </li>
    <!-- likes and comments count div -->
      <div class="likesAndCommentsCount">
        <span class="likeCount likeCount__{{post.id}}">Likes ({{post.likeCount}})</span>
        <span class="commentCount commentCount__{{post.id}}">Comments ({{post.commentCount}})</span>
      </div>
    <!-- end of likes and comments count div -->
    <!-- lcdiv -->
  <div class="lcdiv">
    {% if post.didCurrentUserLikeThePost == 1 %}
    <div class="{{post.id}} likeButton active ">
      <i class="{{post.id}} likeIcon fas fa-heart active "> Like</i>
      </div>
    {% else %}

  <div class="{{post.id}} likeButton ">
      <i class="{{post.id}} likeIcon fas fa-heart "> Like</i>
    </div>
    {% endif %}
      <div class="{{post.id}} commentButton">
        Comment
      </div>
    </div>
    <!-- end of lcdiv -->
    <!-- comment section -->
    <div class="commentSectionWrapper__{{post.id}} commentSectionWrapper">
      <div class="commentSection">
        <div class="img">
          <img
          class="responsive-img circle profile-pic"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpYHz0hbmkgfvd6XKbIUJlpMS5hNSCp5avLRAEa8cNAyBpJ0_V&usqp=CAU" alt="defaul_profile_pic">
        </div>
        <div class="inputField">
          <!-- <i class="material-icons prefix">mode_edit</i> -->
          <input type="text" id="icon_prefix2" class="text__{{post.id}} text-area" placeholder="Add a comment..."/>
        </div>
        <i class="button__{{post.id}} addCommentIcon small material-icons">send</i>


      </div>
      <div class="commentsList__{{post.id}} commentsList ">
        {% for comment in post.comments %}
        <div class="singleComment">
          <div class="img">
            <img
            class="responsive-img circle profile-pic"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpYHz0hbmkgfvd6XKbIUJlpMS5hNSCp5avLRAEa8cNAyBpJ0_V&usqp=CAU" alt="defaul_profile_pic">
          </div>
          <div class="content">
            <div class="username">
              <a href="http://localhost/profiles/userProfile/{{comment.user_id}}">{{comment.username}}</a>

            </div>
            <div class="commentText">
              {{comment.content}}
            </div>
          </div>

        </div>

        {% endfor %}
      </div>

    </div>
    <!-- end of comment section -->
{% endfor %}
</ul>
</div>


<script src="/js/addComment.js"></script>

{% endblock %}
